@import "src/Styles/mixins";

.header {
  background-color: var(--black);
  color: var(--white);
  padding: 16px 0;
  position: relative;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 22% 1fr;
}

@include large {
  .container {
    grid-template-columns: 0 1fr;
  }
}

@include medium {
  .container {
    grid-template-columns: 0 1fr;
  }
}

@include small {
  .container {
    width: var(--container-mobile-width);
  }
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@include small {
  .headerContent {
    justify-content: flex-end;
  }
}

.discount {
  color: var(--secondary-white);
}

@include medium {
  .discount {
    font-size: .8rem;
  }
}

@include small {
  .discount {
    display: none;
  }
}

.discount a {
  display: inline-block;
  color: var(--secondary-white);
  text-decoration: underline;
  display: inline-block;
  margin-left: 8px;
  padding: 2px 4px;
  font-weight: bold;
  user-select: none;
  transition: opacity .3s;
  outline: dashed 0 var(--regular-light-gray);
  outline-offset: 0;

  &:focus-visible {
    transition: opacity .3s, var(--outline-transition);
    outline: 2px dashed var(--orange-degree2);
    outline-offset: 3px;
    color: var(--orange-degree2);
  }

  &:hover {
    opacity: .9;
  }
}

.discount::selection {
  background-color: var(--white) !important;
}