@import "../../Styles/mixins.scss";

.form {
  max-width: 371px;
  width: 371px;
  margin: 0 120px;
}

@include medium {
  .form {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .form {
    max-width: none;
  }
}

.form>h2 {
  font: 500 2.25rem/30px "Inter", sans-serif;
  letter-spacing: .04rem;
  width: max-content;
}

@include small {
  .form>h2 {
    font-size: 1.8rem;
  }
}

.form>p {
  margin: 20px 0 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs>input {
  border: none;
  outline: none;
  border-bottom: solid 1px var(--dark-gray);
  padding-bottom: 8px;
  color: var(--black);
  transition: border-color .1s;

  &:focus {
    border-block-color: var(--black);
  }

  &::placeholder {
    transition: color .1s;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &[class=invalid] {
    border-bottom-color: var(--dark-tomato);
    color: var(--dark-tomato);

    &::placeholder {
      color: var(--dark-tomato);
    }
  }

  &:focus::placeholder {
    color: var(--black) !important;
  }
}

.inputs>input::placeholder {
  color: var(--regular-light-gray);
}

.createAccBtn {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  background-color: var(--dark-tomato);
  border: solid 2px var(--dark-tomato);
  color: var(--white);
  font-weight: 500;
  margin: 40px 0 20px;
  height: 57.6px;
  transition: background-color .1s, color .1s;

  &:hover {
    background-color: var(--white);
    color: var(--dark-tomato);
  }
}

.signUpBtn {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  color: var(--black);
  @include center-x-y;
  background-color: transparent;
  border: 2px solid #00000066;
  height: 57.6px;
  transition: border-color .2s;

  &:hover {
    border-color: #000;
  }
}

.signUpBtn>img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.buttons>p {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 40px auto 0;
}

.buttons>p>span {
  display: inline-block;
  margin-right: 10px;
}

.buttons>p>a {
  color: var(--primary);
  position: relative;
  top: -2px;
  transition: color .2s;

  &:hover {
    color: var(--black);
  }
}

.buttons>p>a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: var(--primary);
  transition: background-color .2s;
}

.buttons>p>a:hover::before {
  background-color: var(--black);
}