.signUpPage {
  display: flex;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 120px;
}

.imgHolder {
  margin-right: 120px;
  width: 805px;
  height: 781px;
  border-radius: 0 4px 4px 0;
}