@import "../../Styles/mixins.scss";

.form {
  max-width: 371px;
  width: 371px;
  margin: 0 120px;
}

@include medium {
  .form {
    margin: 0;
    width: 100%;
  }
}

.form>h2 {
  font: 500 2.25rem/30px "Inter";
  letter-spacing: .04rem;
  width: max-content;
}

@include small {
  .form>h2 {
    font-size: 1.8rem;
  }
}

.form>p {
  margin: 20px 0 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs>input {
  border: none;
  outline: none;
  border-bottom: solid 1px #7f7f7f;
  padding-bottom: 8px;
  color: #000;
  font: 400 1rem/24px "Poppins";

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.inputs>input::placeholder {
  color: #999999;
}

.createAccBtn {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  background-color: var(--tomato);
  color: var(--white);
  border: none;
  font: 500 1rem/24px "Poppins";
  margin: 40px 0 20px;
}

.signInBtn {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #00000066;
  font: 400 1rem/24px "Poppins";
}

.signInBtn>img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.buttons>p {
  font: 400 1rem/24px "Poppins";
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 40px auto 0;
}

.buttons>p>span {
  display: inline-block;
  margin-right: 10px;
}

.buttons>p>a {
  color: #4d4d4d;
  position: relative;
  top: -2px;
  transition: color .2s;

  &:hover {
    color: #000;
  }
}

.buttons>p>a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: #4d4d4d;
  transition: background-color .2s;
}

.buttons>p>a:hover::before {
  background-color: #000;
}