@import "src/Styles/mixins";

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  max-width: 380px;
}

.iconHolder {
  width: 50px;
  height: 50px;
  background-color: var(--black);
  border-radius: 50%;
  padding: 8px;
  position: relative;
  user-select: none;
}

.iconHolder::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: var(--medium-light-gray);
  z-index: -1;
  border-radius: inherit;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
}

.feature>b {
  display: inline-block;
  margin: 26px 0 0;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
}

.feature>p {
  font-size: .9rem;
  line-height: 21px;
  text-align: center;
}

.feature>:where(p, b) {
  outline: dashed 0 transparent;
  outline-offset: 0;

  &:focus-visible {
    transition: opacity .3s, var(--outline-transition), outline-offset .25s .05s;
    outline: 2px dashed var(--black);
    outline-offset: 2px;
  }
}

// Arabic styles
[lang=ar] .feature>p {
  margin-top: 6px;
}