@use "src/Styles/mixins" as m;

.stars {
  display: flex;
  align-items: center;
  user-select: none;
}

.stars>img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

// Arabic styles
[lang=ar] .stars>svg {
  transform: rotateY(180deg);
}