@import "src/Styles/mixins";

.stars {
  display: flex;
  align-items: center;
  user-select: none;

  &:focus-visible {
    outline: 2px dashed var(--black);
    outline-offset: 2px;
  }
}

.stars>img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}