@import "../../Styles/mixins.scss";

.couponContainer {
  display: flex;
  align-items: center;
}

.couponContainer>input {
  width: 300px;
  height: 56px;
  padding: 16px 24px;
  border-radius: 4px;
  border: 1px solid #000000;
  font: 400 1rem "Poppins";
  margin-right: 20px;
}

@include small {
  .couponContainer>input {
    font-size: .8rem;
    padding: 12px 20px;
    width: 190px;
    height: 45px;
  }
}

.couponContainer>input::placeholder {
  color: #7f7f7f;
}

.couponContainer>button {
  border: none;
  outline: none;
  padding: 16px 48px;
  border-radius: 4px;
  font: 500 1rem "Poppins";
  background: var(--tomato);
  color: var(--white);
}

@include small {
  .couponContainer>button {
    font-size: .8rem;
    padding: 12px 20px;
  }
}