@import "../../Styles/mixins.scss";

.cartPage {
  margin: var(--page-margin);
}

.pageComponents {
  margin-top: 60px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 650px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
}