@import "../../Styles/mixins.scss";

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 50px;
}

.buttons>button {
  background-color: transparent;
  outline: none;
  padding: 16px 48px 16px 48px;
  border-radius: 4px;
  border: 1px solid #00000080;
  font: 500 1rem "Poppins";
}

@include small {
  .buttons>button {
    padding: 12px 30px;
    font-size: .9rem;
  }
}