@import "../../../Styles/mixins";

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100vw - (100vw - 100%));
  height: calc(100vh - (100vh - 100%));
  background-color: rgba(0, 0, 0, .8);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}