.pageHistory {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
}

.page {
  font: 400 .875rem "Poppins";
  color: #7f7f7f;
}

.page>a {
  color: #7f7f7f;
  user-select: none;
  transition: color .1s;

  &:hover {
    color: #000;
  }
}

.page>span {
  margin: 0 8px;
  user-select: none;
}

.currentPage {
  font: 400 .875rem "Poppins";
  color: #000;
}