.scrollTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ff6e61;
  font-size: 20px;
  padding: 10px;
  border: 4px solid var(--white);
  border-radius: 50%;
  z-index: 2;
  padding: 15px;
  border-width: 6px;
  bottom: 30px;
  right: 30px;
  pointer-events: all;
  transition: opacity .25s ease, background-color .25s;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    background-color: #ff4d3d;
  }
}

.scrollTopButton>svg {
  width: 20px;
  height: 20px;
  fill: var(--white);
}