@import "../../../Styles/mixins";

.sectionTitle .event {
  color: var(--dark-tomato);
  margin-left: 36px;
  position: relative;
  margin-bottom: 30px;
  font-weight: 600;
}

.sectionTitle.type2 .event {
  color: var(--black);
  font-weight: 500;
}

@include small {
  .sectionTitle .event {
    font-size: .9rem;
  }
}

.sectionTitle .event::before {
  content: '';
  position: absolute;
  left: -36px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 40px;
  background: var(--dark-tomato);
  border-radius: 4px;
}

.sectionTitle b {
  color: var(--black);
  letter-spacing: 1.4px;
  font: 600 2.25rem "Inter", sans-serif;
  text-wrap: nowrap;
}

@include small {
  .sectionTitle b {
    font-size: 1.5rem;
  }
}