@import "src/Styles/mixins";

.sizesWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sizesWrapper .size {
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: .875rem;
  font-weight: 500;
  font-size: 875rem;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #00000080;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  @include center-x-y;

  &:not(.active):hover {
    background-color: rgba(180, 4, 4, .85);
    border-color: rgba(180, 4, 4, .85);
    color: var(--white);
  }

  &.active {
    border-color: var(--dark-tomato);
    background-color: var(--dark-tomato);
    color: var(--white);
  }

  &:focus-visible {
    outline: 2px dashed var(--orange-degree2);
    border: none;
  }

  &.active:focus-visible,
  &:hover:focus-visible {
    outline: 2px dashed var(--orange-degree2);
    background-color: var(--orange-degree2);
    border: none;
  }
}