@import "../../Sass/mixins";

.dropDownMenu {

}

.nameMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropDownMenu i {
  font-size: .8rem;
  transition: transform .3s;

  &.active {
    transform: rotate(90deg);
  }
}

.menu {
  min-height: 0;
  height: 0;
  overflow: hidden;
  transition: .5s;

  &.active {
    min-height: 190px;
  }
}


:root {
  --black: #000;
  --very-dark-gray: #252525;
  --primary: #363738;
  --brown: #504242;
  --dark-gray: #4C5355;
  --light-gray: #7D8184;
  --medium-light-gray: #cbcbcb;
  --very-light-gray: #EDEDED;
  --secondary-white: #FAFAFA;
  --white: #fff;
  --red: #DB4444;
  --tomato: #DB4444;
  --rose: #E07575;
  --green: #00FF66;
  --turquoise: #4AC2E8;
  --light-blue: #A0BCE0;
  --container-width: 85%;
  --container-mobile-width: 94%;
}