@import "../../Sass/mixins";

.sectionsProducts {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.sectionsProducts>* {
  color: var(--black);
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.dropDownMenu li {
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropDownMenu li a {
  color: var(--black);
}

.dropDownMenu li a:not(:last-child) {
  margin-top: 20px;
}





:root {
  --black: #000;
  --very-dark-gray: #252525;
  --primary: #363738;
  --brown: #504242;
  --dark-gray: #4C5355;
  --light-gray: #7D8184;
  --medium-light-gray: #cbcbcb;
  --very-light-gray: #EDEDED;
  --secondary-white: #FAFAFA;
  --white: #fff;
  --red: #DB4444;
  --tomato: #DB4444;
  --rose: #E07575;
  --green: #00FF66;
  --turquoise: #4AC2E8;
  --light-blue: #A0BCE0;
  --container-width: 85%;
  --container-mobile-width: 94%;
}