.searchContainer {
  background-color: var(--secondary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  padding: 10px 12px 10px 20px;
  border-radius: 4px;
  margin-right: 24px;
  user-select: none;
  cursor: pointer;
  position: relative;
  border: solid 1px var(--secondary-white);
  transition: border-color .1s;

  &:hover {
    border-color: var(--black);
  }

  &:has(:focus) {
    border-color: var(--turquoise);
    background-color: var(--white);
  }
}

.searchContainer>input {
  all: unset;
  font-size: .75rem;
  font-weight: 400;
  line-height: 18px;
  width: 100%;
}

.searchContainer>button {
  all: unset;
}

.searchContainer>button>svg {
  width: 18px;
  height: 18px;
}