@import "../../../Styles/mixins.scss";

.card {
  border-radius: 4px;
  border: solid 1px #0000004D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: background-color .2s;
}

.card:hover {
  background-color: var(--tomato);
  border-color: var(--tomato);
}

.card svg {
  width: 56px;
  height: 56px;
  transition: fill .2s .1s;

  & :where(path, line) {
    stroke: var(--black);
  }
}

.card svg[data-fill-hover] {
  transition: fill .2s;
}

.card:hover svg[data-fill-hover] {
  fill: var(--white);
}

.card:hover svg {
  fill: transparent;

  & :where(path, line) {
    stroke: var(--white);
  }
}

.card span {
  margin-top: 26px;
  color: var(--black);
}

.card:hover span {
  color: var(--white);
}