@import "../../../Styles/mixins.scss";

.card {
  border-radius: 4px;
  border: solid 1px #0000004D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: background-color .2s;
}

.card:hover {
  background-color: var(--red);
  border-color: var(--red);
}

.card svg {
  transition: fill .2s .1s;
}

.card:hover svg {
  fill: transparent;

  & :where(path, line) {
    stroke: #fff;
  }
}

.card span {
  font: 400 1rem/24px "Poppins";
  margin-top: 26px;
  color: #000;
}

.card:hover span {
  color: #fff;
}