@import "../../../Styles/mixins.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  min-width: 256px;
}

.productImg {
  border-radius: 4px;
  background: var(--very-light-gray2);
  width: 100%;
  height: 250px;
  @include center-x-y;
  user-select: none;
  position: relative;
}

.imgHolder {
  position: relative;
  z-index: 6;
  transition: .4s scale;
}

.productImg:hover .imgHolder {
  scale: 1.1;
}

.imgHolder img {
  width: 172px;
  height: 152px;
  object-fit: contain;
  cursor: pointer;
}

.layerContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}

.layerContent .discount {
  background: var(--dark-tomato);
  color: var(--secondary-white);
  width: fit-content;
  padding: 4px 12px;
  @include center-x-y;
  gap: 10px;
  border-radius: 4px;
  user-select: none;
  font-size: .75rem;
}

.layerContent .new {
  background-color: var(--green);
  color: var(--white);
  width: 51px;
  height: 26px;
  padding: 4px 12px;
  border-radius: 4px;
  user-select: none;
  font-size: .75rem;

  &.hide {
    display: none;
  }
}

.layerContent .discount.hide {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.layerContent .icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  z-index: 10;
  opacity: 0;
  transform: translateX(50px);
  transition: transform .4s .1s, opacity .2s .1s;
}

.card:hover .icons,
.card.noHover .icons {
  opacity: 1;
  transform: translateX(0);
  transition: transform .4s .1s, opacity .2s .2s;
}

.layerContent .icons .iconHolder {
  outline: none;
  border: none;
  width: 34px;
  height: 34px;
  background: var(--white);
  color: var(--black);
  border-radius: 50%;
  @include center-x-y;
  cursor: pointer;
  position: relative;
}

.layerContent .icons .iconHolder svg {
  font-size: .9rem;
  transition: fill .2s;
  width: 16px;
  height: 16px;
}

.favIcon {
  --heart-color: var(--tomato);
}

.favIcon.active {
  fill: var(--tomato);

  & .heartBackground {
    opacity: 1;
  }
}

.favIcon .heartBackground {
  position: absolute;
  top: 17px;
  border-style: solid;
  border-color: var(--heart-color) transparent transparent transparent;
  border-width: 7px;
  opacity: 0;
}

.favIcon .heartBackground::before,
.favIcon .heartBackground::after {
  content: '';
  position: absolute;
  top: -12px;
  background-color: var(--heart-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.favIcon .heartBackground::before {
  left: -7.5px;
}

.favIcon .heartBackground::after {
  right: -7px;
}

.detailsIcon:hover svg {
  fill: var(--turquoise);
  fill: var(--yellow);
  fill: #6f6f6f;
}

:where(.favIcon, .removeIcon):hover svg {
  fill: var(--tomato);
}

.wishListIcon svg {
  fill: var(--black);
}

.wishListIcon:hover svg {
  fill: #6f6f6f;
}

.wishListIcon.active svg path {
  fill-rule: nonzero;
}

.card:hover [data-add-to-cart-button],
.card.noHover [data-add-to-cart-button] {
  transform: translateY(0);
}