@import "src/Styles/mixins";

.ourProductsSection {
  margin-bottom: 170px;
}

@include small {
  .ourProductsSection {
    margin-bottom: 100px;
  }
}

.wrapper {
  display: flex;
  gap: 87px;
  margin-bottom: 40px;
}

@include small {
  .wrapper {
    flex-direction: column;
    gap: 0;
  }
}

.viewProductsBtn {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  width: fit-content;
  background: var(--dark-red);
  color: var(--white);
  padding: 12px 48px;
  margin: 0 auto;
  border-radius: 4px;
  letter-spacing: 0em;
  font-weight: 500;
  outline: solid 2px transparent;
  outline-offset: -2px;
  transition: background .2s;

  &:focus-visible {
    transition: var(--outline-transition);
    outline-color: var(--tomato);
    color: var(--very-dark-gray);
    background: transparent;
    color: var(--tomato);
  }

  &:not(:focus-visible):hover {
    background: var(--tomato);
  }
}