@use "src/Styles/keyframes" as keyframe;
@include keyframe.spin;

.loader {
  width: 22px;
  height: 22px;
  border: 2px solid var(--white);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transform-origin: 51% 51%;
}