@import "../../Styles/mixins";

.halfStar {
  position: relative;
  width: 20px;
  height: 20px;
  top: -1px;
}

.uncoloredStar {
  position: absolute;
  left: -10px;
  height: fit-content;
}

.coloredStar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 24px;
}

.hideBox {
  position: absolute;
  left: 10px;
  top: 0;
  width: 10px;
  height: 24px;
  overflow: hidden;
  z-index: 2;
}