@import "../../../Styles/mixins.scss";

.imgHolder {
  height: 460px;
  border-radius: 4px;
  margin-bottom: 20px;
  user-select: none;
}

.imgHolder>img {
  border-radius: inherit;
}

.info>b {
  font: 500 2rem "Inter", sans-serif;
  letter-spacing: .04rem;
}

.info>p {
  margin-bottom: 10px;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socialMedia>a {
  position: relative;
}

.socialMedia>a>svg {
  width: 24px;
  height: 24px;
  stroke: var(--black);

  & path {
    fill: var(--black);
  }
}

.socialMedia>.instagram>svg>path {
  fill: var(--white);
  stroke: var(--black);
}