@import "../../../Styles/mixins";

.navTools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchContainer {
  background-color: var(--secondary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  padding: 10px 12px 10px 20px;
  border-radius: 4px;
  margin-right: 24px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.searchContainer::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  width: 98%;
  height: 94%;
  border: solid 1px var(--turquoise);
  background-color: rgba(74, 195, 232, 0.1);
  z-index: -1;
  opacity: .4;
  transition: transform .2s;
}

.searchContainer:hover:before {
  transform: translate(-50%, -50%) scale(1.05, 1.3);
}

.searchContainer input {
  all: unset;
  font-size: .75rem;
  font-weight: 400;
  line-height: 18px;
  width: 100%;
}

.searchContainer i {
  transition: color .2s;

  &:hover {
    color: var(--turquoise);
  }
}

.tools {
  display: flex;
  align-items: center;
}

div.addedProducts,
div.addedFavorites,
div.userContainer {
  &:not(:last-child) {
    margin-right: 16px;
  }
}

.addedProducts,
.addedFavorites {
  width: fit-content;
  position: relative;
  user-select: none;
  cursor: pointer;
  width: fit-content;

  &:hover i:not(.active) {
    color: var(--tomato);
  }
}

:is(.addedProducts, .addedFavorites) span {
  display: inline-block;
  position: absolute;
  left: 4px;
  top: -12px;
  background-color: var(--tomato);
  color: var(--white);
  border-radius: 50%;
  font-size: .6rem;
  width: 28px;
  height: 28px;
  @include center-x-y;
  z-index: 2;
  transform: scale(.6);
}

.tools i {
  position: relative;
  font-size: 1.2rem;
  transition: color .2s;

  &.active {
    background-color: var(--tomato);
    color: var(--white);
    border-radius: 50%;
    font-size: .8rem;
    width: 32px;
    height: 32px;
    @include center-x-y;
  }
}



:root {
  --black: #000;
  --primary: #363738;
  --brown: #504242;
  --dark-gray: #4C5355;
  --light-gray: #7D8184;
  --very-light-gray: #EDEDED;
  --secondary-white: #FAFAFA;
  --white: #fff;
  --red: #DB4444;
  --tomato: #DB4444;
  --rose: #E07575;
  --green: #00FF66;
  --turquoise: #4AC2E8;
  --light-blue: #A0BCE0;
}