@import "../../../Styles/mixins";

.navTools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tools {
  display: flex;
  align-items: center;
}

.tools>:where(button, a) {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  width: fit-content;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.userContainer {
  position: relative;
  padding: 6px;

  &.active {
    background-color: var(--tomato);
    fill: var(--white);
    border-radius: 50%;
    @include center-x-y;
  }
}

.userContainer>svg {
  width: 20px;
  height: 20px;
  transition: fill .2s;
}

.userContainer.active>svg {
  scale: .7;
}