@import "../../../Styles/mixins.scss";

.postCounter {
  display: flex;
  align-items: center;
  height: fit-content;
  margin-bottom: 40px;
}

.timeUnit {
  width: 70px;
  height: 70px;
  background-color: var(--white);
  border-radius: 50%;
  flex-direction: column;
  @include center-x-y;
  user-select: none;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 520px) {
  .timeUnit {
    width: 60px;
    height: 60px;
  }
}

@include small {
  .timeUnit {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

@include very-small {
  .timeUnit {
    width: 58px;
    height: 58px;
  }
}

@media (max-width: 340px) {
  .timeUnit {
    display: none;
  }
}

.timeUnit>span {
  color: var(--black);
}

.timeUnit>span:first-child {
  font-weight: 600;
}

@include small {
  .timeUnit>span:first-child {
    font-size: .9rem;
  }
}

.timeUnit>span:last-child {
  font-size: .8rem;
  scale: .85;
}