@import "../../../Styles/mixins.scss";

.productPoster {
  background-color: var(--black);
  padding: 54px 50px;
  display: flex;
  margin-bottom: 80px;
}

@include large {
  .productPoster {
    flex-direction: column;
  }
}

@include small {
  .productPoster {
    padding: 30px 26px;
  }
}

.content>span {
  font-weight: 600;
  color: #00FF66;
}

.content>p {
  font: 600 3rem/60px "Inter", sans-serif;
  letter-spacing: .04rem;
  color: var(--secondary-white);
  margin: 30px 0 40px;
}

.content>:where(span, p)::selection {
  background-color: var(--white) !important;
}

@include small {
  .content>p {
    font-size: 2.2rem;
    line-height: 40px;
  }
}

@include very-small {
  .content>p {
    font-size: 1.6rem;
    line-height: 30px;
  }
}

.content>a {
  padding: 16px 48px;
  border-radius: 4px;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color .2s;

  &:hover {
    background: #00ff66;
  }
}

.productHolder {
  position: relative;
  z-index: 2;
  user-select: none;
}

.productHolder::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 300px;
  height: 300px;
  background-color: #ffffffb1;
  z-index: -1;
  border-radius: 50%;
  filter: blur(130px);
  -webkit-filter: blur(130px);
  -moz-filter: blur(130px);
  -o-filter: blur(130px);
  -ms-filter: blur(130px);
}

.productHolder img {
  min-width: 450px;
  max-width: 500px;
  object-fit: contain;
}

@include large {
  .productHolder {
    margin: 0 auto;

    & img {
      min-width: 200px;
    }
  }
}