@import "src/Styles/mixins";

.HorPoster {
  width: 100%;
  height: 284px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  padding: 30px 20px;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  background-color: #0D0D0D;
}

@include small {
  .HorPoster {
    padding-top: 30px;
  }
}

.content {
  width: 255px;
}

.content>b {
  color: var(--white);
  font: 600 1.5rem/24px "Inter", sans-serif;
}

.content>p {
  margin: 6px 0 12px;
  color: var(--secondary-white);
  font-size: .8rem;
  line-height: 18px;
}

.shopNow {
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  color: var(--secondary-white);
  font-size: 1rem;
  width: fit-content;
  position: relative;

  &:not(:focus-visible):hover::before {
    height: calc(100% + 10px);
    opacity: .3;
    transition: height .2s, opacity .2s;
  }

  &:focus-visible {
    color: var(--orange-degree2);

    &::before {
      background-color: var(--orange-degree2);
    }
  }
}

@include small {
  .shopNow {
    font-size: .9rem;
  }
}

.shopNow::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-white);
  transition: height .3s, opacity .2s .2s;
}

.content :where(b, p)::selection,
.shopNow::selection {
  background-color: var(--white) !important;
}

// Arabic styles
[lang=ar] .HorPoster {
  justify-content: flex-end;
  background-position: -130px bottom;
}

[lang=ar] .content {
  direction: rtl;
  background-color: #00000062;
  padding: 14px;
  width: 280px;
}