@import "src/Styles/mixins";

.color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  outline: solid 2px var(--website-bg);

  &:focus-visible {
    transition: border-color .1s, outline-color .1s .2s ease;
    outline-color: var(--orange-degree2);
    outline-offset: 4px;
  }

  &.active {
    border: solid 3px var(--white) !important;
    outline: solid 2px var(--black);

    &:focus-visible {
      outline-color: var(--orange-degree2);
      outline-offset: 2px;
    }
  }
}