@import "../../../Styles/mixins";

.nameMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropDownMenu i {
  font-size: .8rem;
  transition: transform .3s;

  &.active {
    transform: rotate(90deg);
  }
}

.menu {
  min-height: 0;
  height: 0;
  overflow: hidden;
  transition: height .5s;

  &.active {
    height: 218px;
  }
}