@import "../../../Styles/mixins";

.mainSlider {
  width: 82%;
  height: 344px;
  user-select: none;
  --swiper-pagination-color: var(--dark-tomato);
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-pagination-bullet-inactive-color: var(--very-light-gray);
  --swiper-pagination-bullet-inactive-opacity: .6;
}

@include large {
  .mainSlider {
    width: 100%;
    margin-bottom: 40px;
  }
}

@include medium {
  .mainSlider {
    height: 300px;
  }
}