@import "../../Styles/mixins.scss";

.forYouProducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  min-height: 351px;
}

@media (max-width: 1300px) {
  .forYouProducts {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}

@include large {
  .forYouProducts {
    grid-template-columns: repeat(2, 322px);
  }
}

@include small {
  .forYouProducts {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@include large {
  .forYouProducts>* {
    width: 322px;
  }
}

@include small {
  .forYouProducts>* {
    width: 322px;
  }
}

@include very-small {
  .forYouProducts>* {
    width: 100%;
  }
}