@import "src/Styles/mixins";

.profileForm {
  box-shadow: 0 1px 13px 0 #0000000D;
  width: 920px;
  border-radius: 4px;
  padding: 40px 70px 30px 70px;
  display: flex;
  flex-direction: column;
}

@include medium {
  .profileForm {
    padding: 30px;
  }
}

@include small {
  .profileForm {
    padding: 20px;
  }
}

.profileForm>h2 {
  color: var(--dark-tomato);
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 20px;
}