@import "../../../Styles/mixins.scss";

.couponContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

@include large {
  .couponContainer {
    width: 300px;
    flex-direction: column;
  }
}

@include small {
  .couponContainer {
    width: 100%;
  }
}

.couponContainer>input {
  display: block;
  height: 56px;
  padding: 12px 20px;
  border-radius: 4px;
  outline: 1px solid var(--black);
  border: 6px solid var(--website-bg);
  transition: border-color .1s, background-color .1s .05s;

  &:focus {
    outline-color: rgb(255, 123, 0);
    background-color: rgba(255, 166, 0, .08);
  }
}

@include large {
  .couponContainer>input {
    width: 100%;
  }
}

@include small {
  .couponContainer>input {
    font-size: .8rem;
    padding: 12px 20px;
    height: 45px;
  }
}

.couponContainer>input::placeholder {
  color: var(--dark-gray);
}

.couponContainer>button {
  border: none;
  outline: none;
  padding: 16px 48px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  background: var(--dark-tomato);
  color: var(--white);
  transition: background .2s;

  &:hover {
    background: var(--tomato);
  }

  &:active {
    scale: var(--button-active-scale);
  }
}

@include large {
  .couponContainer>button {
    width: 100%;
  }
}

@include small {
  .couponContainer>button {
    font-size: .8rem;
    padding: 12px 20px;
  }
}