@import "../../../Styles/mixins.scss";

.menu {
  border: 1px solid var(--black);
  width: 470px;
  max-width: 470px;
  min-width: 300px;
  border-radius: 4px;
  padding: 30px 20px;
}

@media (max-width: 650px) {
  .menu {
    width: 100%;
  }
}

.menu>b {
  font-weight: 500;
  font-weight: 1.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0;
}

.content .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.content .item:not(:last-child)::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  border-bottom: solid 1px var(--regular-light-gray);
}

.menu>a {
  display: block;
  border: none;
  outline: none;
  padding: 16px 48px;
  border-radius: 4px;
  font-weight: 500;
  background: var(--dark-tomato);
  color: var(--white);
  width: fit-content;
  margin: 0 auto;
  transition: background .2s;

  &:hover {
    background: var(--tomato);
  }

  &:active {
    scale: var(--button-active-scale);
  }
}

@include small {
  .menu>button {
    font-size: .8rem;
    padding: 12px 20px;
  }
}