@import "../../../Styles/mixins.scss";

.billingDetailsSection {
  max-width: 470px;
}

@include medium {
  .billingDetailsSection {
    max-width: 360px;
  }
}

@include medium {
  .billingDetailsSection {
    max-width: 80vw;
    width: 80vw;
  }
}

@include small {
  .billingDetailsSection {
    max-width: 100%;
    width: 100%;
  }
}

.billingDetailsSection>h2 {
  font-family: Inter;
  font: 500 2.25rem "Inter", sans-serif;
  letter-spacing: .04rem;
  margin-bottom: 30px;
}

.billingDetailsSection>footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.billingDetailsSection>footer>label {
  cursor: pointer;
  padding-left: 10px;
}

@include small {
  .billingDetailsSection>footer>label {
    font-size: .8rem;
  }
}