.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input>label {
  font: 400 1rem "Poppins";
  color: var(--regular-light-gray);
}

.redStar {
  color: var(--red);
}

.input>input {
  outline: none;
  border: none;
  background-color: var(--very-light-gray2);
  border-radius: 4px;
  padding: 14px 12px;
  font: 400 1rem "Poppins";
}