@use "src/Styles/mixins" as m;

.mobileNav {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
  transition: opacity .2s;

  &:hover {
    opacity: .7;
  }

  &:focus-visible>svg {
    fill: var(--orange-degree2);
  }
}

@include m.small {
  .mobileNav {
    display: block;
  }
}

.mobileNav>svg {
  width: 27px;
  height: 27px;
  cursor: pointer;
  transition: fill .2s;
}