@import "src/Styles/mixins";

.nav {
  user-select: none;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

@include medium {
  .nav ul {
    gap: 18px;

    & li {
      font-size: .9rem;
    }
  }
}

.nav ul li a {
  outline: none;
  padding: 2px 0;
  color: var(--black);
  position: relative;
  outline: dashed 0 var(--regular-light-gray);
  outline-offset: 0;

  &:focus-visible {
    transition: opacity .3s, var(--outline-transition);
    outline: 2px dashed var(--very-dark-gray);
    outline-offset: 3px;
    color: var(--very-dark-gray);
  }

  &[class=active]::before {
    opacity: .5;
  }

  &:hover::before {
    opacity: 1;
  }
}

.nav ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  opacity: 0;
  transition: opacity .3s;
}

.nav ul li a:focus-visible::before {
  background-color: transparent;
}

// Arabic styles
@include medium {
  [lang=ar] .nav ul {
    gap: 14px;
  }
}

// French styles
@include medium {
  [lang=fr] .nav ul {
    gap: 12px;
  }
}

// Hungarian styles
@include medium {
  [lang=hu] .nav ul {
    gap: 12px;
  }
}

// Russian styles
@include medium {
  [lang=ru] .nav ul {
    gap: 12px;
  }
}