:root {
  --black: #000;
  --very-dark-gray: #252525;
  --primary: #363738;
  --brown: #504242;
  --dark-gray: #4C5355;
  --light-gray: #7D8184;
  --medium-light-gray: #cbcbcb;
  --very-light-gray: #EDEDED;
  --secondary-white: #FAFAFA;
  --white: #fff;
  --red: #A22F2F;
  --tomato: #B40404;
  --rose: #E07575;
  --green: #078639;
  --turquoise: #4AC2E8;
  --light-blue: #A0BCE0;
  --container-width: 85%;
  --container-mobile-width: 94%;
}

.dark-mode:root {}