:root {
  --black: #000;
  --very-dark-gray: #252525;
  --tooltip-bg-color: #2d2d2d;
  --primary: #363738;
  --brown: #504242;
  --dark-gray: #4C5355;
  --light-gray: #7D8184;
  --regular-light-gray: #999999;
  --gray-blue: #848d97;
  --light-blue: #A0BCE0;
  --medium-light-gray: #cbcbcb;
  --very-light-gray: #EDEDED;
  --very-light-gray2: #f5f5f5;
  --secondary-white: #FAFAFA;
  --skeleton-color1: #f6f7f8;
  --skeleton-color2: #edeef1;
  --website-bg: #fdfdfd;
  --white: #fff;
  --dark-red: #A22F2F;
  --dark-tomato: #B40404;
  --tomato: #db4444;
  --red: #ff0000;
  --rose: #E07575;
  --green: #078639;
  --blue: #4493f8;
  --turquoise: #4AC2E8;
  --yellow: #fffb19;
  --container-width: 85%;
  --container-mobile-width: 94%;
  --page-margin: 60px 0 100px;
  --button-active-scale: .991;
}

// Main slider customizations
:root {
  --swiper-pagination-bullet-inactive-opacity: .6;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-color: var(--tomato);
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-pagination-bullet-inactive-color: var(--very-light-gray);
}