@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  // font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: 0;
}

@media (max-width: 767px) {
  .container {
    width: 96%;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
button {
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  user-select: none;
  cursor: pointer;
}