@import "src/Styles/mixins";

.sliderButtons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-inline-end: 30px;
  gap: 8px;
}

.sliderButtons>button {
  width: 46px;
  height: 46px;
  background-color: var(--very-light-gray2);
  @include center-x-y;
  border-radius: 50%;
  border: none;
  position: relative;
  outline: dashed 0 var(--regular-light-gray);
  outline-offset: 0;

  &:focus-visible {
    transition: outline-offset .3s, outline-color .1s .2s;
    outline: 2px dashed var(--orange-degree2);
    outline-offset: 2px;
  }
}

.sliderButtons>button:active>svg {
  fill: var(--black);
  position: relative;
}

.sliderButtons>button>svg {
  width: 30px;
  height: 30px;
  fill: var(--very-dark-gray);
  z-index: 2;
  position: absolute;
}

.productsSlider {
  display: flex;
  gap: 30px;
  overflow: auto hidden;
  scrollbar-width: none;
  margin-bottom: 50px;
  position: relative;
  scroll-behavior: smooth;
}

.productsSlider::-webkit-scrollbar {
  display: none;
}

.productsSlider>* {
  flex: 0 0 auto;
  width: calc((100% / 4 - 30px) + (30px / 4));
}

@media (max-width: 1300px) {
  .productsSlider>* {
    width: calc((100% / 3 - 30px) + (30px / 3));
  }
}

@include medium {
  .productsSlider>* {
    width: calc((100% / 2 - 30px) + (30px / 2));
  }
}

@media (max-width: 600px) {
  .productsSlider>* {
    width: 100%;
  }
}

.productsSlider>*:last-child {
  margin-inline-end: 0;
}

// Arabic styles
[lang=ar] .sliderButtons {
  justify-content: flex-start;
  direction: ltr;
}

@include small {
  [lang=ar] .sliderButtons {
    justify-content: flex-end;
  }
}