@import "../../Styles/mixins.scss";

.aboutPage {
  margin: var(--page-margin);
}

.container {
  width: calc(var(--container-width) + 7.5%);
  margin-left: calc(15% / 2);
}

@include medium {
  .container {
    margin: 0 auto;
  }
}