@import "src/Styles/mixins";

.card {
  width: 300px;
  height: 230px;
  padding: 30px;
  border-radius: 4px;
  border: 1px solid #0000004D;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color .2s, color .2s, border-color .1s;
  position: relative;
  z-index: 1;

  &:hover,
  &:focus-visible {
    background-color: var(--dark-tomato);
    color: var(--white);
    border-color: var(--dark-tomato);
  }
}

@include small {
  .card {
    width: 100%;
  }
}

.iconHolder {
  background-color: var(--black);
  border-radius: 50%;
  padding: 10px;
  @include center-x-y;
  position: relative;
}

.card:hover .iconHolder,
.card:focus-visible .iconHolder {
  background-color: var(--white);
}

.iconHolder::before {
  content: '';
  position: absolute;
  background-color: var(--medium-light-gray);
  width: calc(100% + 22px);
  height: calc(100% + 22px);
  border-radius: inherit;
  z-index: -1;
}

.card:hover .iconHolder::before,
.card:focus-visible .iconHolder::before {
  background-color: var(--white);
  opacity: .3;
}

.iconHolder>svg {
  width: 40px;
  height: 40px;
}

.card:hover .iconHolder>svg,
.card:focus-visible .iconHolder>svg {
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -ms-filter: invert(1);
  -o-filter: invert(1);
}

.card>b {
  font: 700 2rem "Inter", sans-serif;
  margin: 20px 0 10px;
}