@import "../../../Styles/mixins";

.eventTimer {
  display: flex;
  align-items: end;
  gap: 16px;
}

@include small {
  .eventTimer {
    margin-top: 20px;
  }
}

.timeContainer {
  display: flex;
  flex-direction: column;
}

.timeContainer .typeTime {
  color: var(--black);
  font-family: "Poppins";
  font-size: .75rem;
  font-weight: 500;
  transform: scale(.9);
}

@include small {
  .timeContainer .typeTime {
    transform: scale(.8);
    position: relative;
    left: -6px;
  }
}

.timeContainer .time {
  color: var(--black);
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.3px;
}

@include small {
  .timeContainer .time {
    letter-spacing: 1px;
    font-size: 1.4rem;
  }
}

.eventTimer>span {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--tomato);
}