@import "../../../Styles/mixins";

.productsSlider {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 60px;
  position: relative;
}

.productsSlider::-webkit-scrollbar {
  display: none;
}

.productsSlider>* {
  flex: 0 0 auto;
  width: calc(25% - 30px);
  margin-right: 30px;
}

@include large {
  .productsSlider>* {
    width: calc(33.33% - 30px);
  }
}

@include medium {
  .productsSlider>* {
    width: calc(50% - 30px);
  }
}

@media (max-width: 600px) {
  .productsSlider>* {
    width: calc(100% - 30px);
  }
}

.productsSlider>*:last-child {
  margin-right: 0;
}