@import "../../../Styles/mixins";

.todaysSection {
  margin-bottom: 170px;
}

@include small {
  .todaysSection {
    margin-bottom: 100px;
  }
}

.wrapper {
  display: flex;
  gap: 87px;
  margin-bottom: 40px;
}

@include small {
  .wrapper {
    flex-direction: column;
    gap: 0;
  }
}

.viewProductsBtn {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  width: fit-content;
  background: var(--dark-red);
  color: var(--white);
  padding: 12px 48px;
  margin: 0 auto;
  border-radius: 4px;
  font-weight: 500;
  transition: background .2s;

  &:hover {
    background: var(--tomato);
  }
}