.iconHolder {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  // top: 50%;
  // right: 8px;
  translate: 0 -50%;
  cursor: pointer;
  user-select: none;
}

.iconHolder>svg {
  width: 100%;
  height: 100%;
}

// Arabic styles
[lang=ar] .iconHolder {
  right: unset;
  left: 8px;
}