@import "../../Styles/mixins";

.header {
  padding: 10px 14px 14px 14px;
  margin-top: 30px;
  border-bottom: 1px var(--medium-light-gray) solid;
}

@include medium {
  .header {
    padding: 10px 0 14px 10px;
  }
}

@include small {
  .header {
    padding: 10px 0 14px 50px;
  }
}

.container {
  width: calc(var(--container-width) + 2%);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 26% 1fr;
}

@include large {
  .container {
    grid-template-columns: 24% 1fr;
  }
}

@include medium {
  .container {
    grid-template-columns: unset;
  }
}

@include small {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--container-mobile-width);
  }
}

.space {
  user-select: none;
}

.container h1 {
  font-size: 1.5rem;
  user-select: none;
  cursor: pointer;
  color: var(--black);

  & a {
    color: var(--black);
  }
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@include medium {
  .headerContent {
    margin-top: 10px;
  }
}

@include small {
  .headerContent {
    display: none;
  }
}

.openMobileMenu {
  font-size: 2.2rem;
}

.mobileNav {
  display: none;
}

@include small {
  .mobileNav {
    display: block;
  }
}

:root {
  --black: #000;
  --primary: #363738;
  --brown: #504242;
  --dark-gray: #4C5355;
  --light-gray: #7D8184;
  --very-light-gray: #EDEDED;
  --secondary-white: #FAFAFA;
  --white: #fff;
  --red: #DB4444;
  --tomato: #DB4444;
  --rose: #E07575;
  --green: #00FF66;
  --turquoise: #4AC2E8;
  --light-blue: #A0BCE0;
}