@import "../../Styles/mixins.scss";

.languageSelector {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
}

@include small {
  .languageSelector {
    margin-right: 12px;
  }
}

.languageSelector .currentOption {
  min-width: 63px;
}

.languageSelector>svg {
  width: 12px;
  height: 12px;
  fill: var(--white);
}

.languageSelector .options {
  position: absolute;
  left: -11px;
  top: 26px;
  background-color: var(--black);
  z-index: 10;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.languageSelector .options .option {
  cursor: pointer;
  padding: 10px;
  padding-right: 30px;
  transition: color .2s;

  &:hover {
    color: var(--very-light-gray);
  }
}