@import "../../Styles/mixins";

.mobileMenu {
  background-color: var(--very-dark-gray);
  filter: contrast(1);
  position: fixed;
  right: -300%;
  top: 0;
  height: calc(100vh - (100vh - 100%));
  padding: 40px 20px;
  padding-right: 140px;
  z-index: 1001;
  overflow-y: auto;
  margin-right: 4px;
  transition: right .5s;

  &.active {
    transition: right .8s;
    right: 0;
  }
}

@include small {
  .mobileMenu {
    padding-right: 100px;
  }
}

.mobileMenu::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

.mobileMenu::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 2px;
}

.userInfo .img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  outline: solid 3px #54577a;
  transition: outline-color .3s;

  & img {
    border-radius: inherit;
  }

  &:hover {
    outline-color: #787db0;
  }
}

.userInfo p {
  color: var(--medium-light-gray);
  margin: 20px 0 50px;
}

.userInfo p .userName {
  display: block;
  color: var(--white);
  margin-top: 4px;
  font-weight: bold;
}

.navLinks {
  position: relative;
  left: -10px;
  min-height: 310px;
}

.navLinks ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navLinks ul li a,
.signOutButton {
  all: unset;
  color: var(--medium-light-gray);
  padding: 10px;
  min-width: 126px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color .2s;

  &[class=active],
  &:hover {
    background-color: rgba(87, 87, 87, .5);
  }

  &[class=active]:hover {
    background-color: rgba(87, 87, 87, .8);
  }
}

.navLinks ul li a span,
.signOutButton span {
  padding-left: 16px;
}

.navLinks ul svg,
.signOutButton svg {
  fill: var(--white);
  width: 20px;
  height: 20px;
}

.line {
  width: 130px;
  height: 2px;
  margin: 30px 0;
  border-color: var(--regular-light-gray);
}