@import "../../Styles/mixins";

.nav {
  user-select: none;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li {

  &:not(:last-child) {
    margin-right: 30px;
  }
}

@include medium {
  .nav ul li {

    &:not(:last-child) {
      margin-right: 18px;
      font-size: .9rem;
    }
  }
}

.nav ul li a {
  padding: 2px 0;
  color: var(--black);
  position: relative;
}

.nav ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  opacity: 0;
  transition: opacity .3s;
}

.nav ul li a[class=active]::before {
  opacity: .5;
}

.nav ul li a:hover::before {
  opacity: 1;
}