.iconHolder {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  width: 34px;
  height: 34px;
  background: var(--white);
  color: var(--black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  &:focus-visible {
    background-color: #303030;
    transition: opacity .3s, var(--outline-transition), background .2s, transform 0;
    outline: 2px solid var(--yellow);
    outline-offset: -2px;
  }
}

.iconHolder svg {
  font-size: .9rem;
  transition: fill .2s;
  width: 16px;
  height: 16px;
}

.iconHolder:focus-visible svg {
  fill: var(--yellow);
}

.favIcon {
  --heart-color: var(--tomato);

  &:focus-visible {
    --heart-color: var(--yellow);
  }
}

.favIcon.active {
  fill: var(--tomato);

  & .heartBackground {
    opacity: 1;
  }
}

.favIcon .heartBackground {
  position: absolute;
  top: 17px;
  right: calc(50% + -0.4px);
  translate: 50% 0;
  border-style: solid;
  border-color: var(--heart-color) transparent transparent transparent;
  border-width: 7px;
  opacity: 0;
  pointer-events: none;
  scale: 1.03;
}

.favIcon .heartBackground::before,
.favIcon .heartBackground::after {
  content: '';
  position: absolute;
  top: -12px;
  background-color: var(--heart-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.favIcon .heartBackground::before {
  left: -7.5px;
}

.favIcon .heartBackground::after {
  right: -7px;
}