@import "../../../Styles/mixins.scss";

.contactInfo {
  width: 340px;
  padding: 40px 35px 51px 35px;
  border-radius: 4px;
  box-shadow: 0 1px 13px 0 #0000000D;
}

@include medium {
  .contactInfo {
    width: 100%;
  }
}

.horizontalLine {
  width: 100%;
  height: 1px;
  background-color: var(--dark-gray);
  margin: 30px 0;
}