@import "../../Styles/mixins.scss";


.images {
  display: flex;
  gap: 30px;
  user-select: none;
}

@media (max-width: 1400px) {
  .images {
    flex-direction: column-reverse;
  }
}

.otherImages {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media (max-width: 1400px) {
  .otherImages {
    max-width: 500px;
    flex-direction: row;
  }
}

@include small {
  .otherImages {
    max-width: 100%;
  }
}

.otherImages .imgHolder {
  background-color: #f5f5f5;
  @include center-x-y;
  aspect-ratio: 1/1;
  width: 170px;
  height: calc((25% - 14px) + (14px / 4));
  cursor: pointer;
}

@media (max-width: 1400px) {
  .otherImages .imgHolder {
    width: calc((25% - 14px) + (14px / 4));
    height: auto;
  }
}

.otherImages .imgHolder img {
  aspect-ratio: 1/1;
  width: 80%;
  object-fit: contain;
  border-radius: 4px;
}

@media (max-width: 1400px) {
  .otherImages .imgHolder img {
    width: 80%;
    height: 80%;
  }
}

.previewImgHolder {
  width: 500px;
  border-radius: 4px;
  flex: 1;
}

@include large {
  .previewImgHolder {
    height: 500px;
  }
}

@media (max-width: 480px) {
  .previewImgHolder {
    height: 410px;
  }
}

@include small {
  .previewImgHolder {
    width: 100%;
  }
}

.previewImgHolder>img {
  background-color: #f5f5f5;
  object-fit: contain;
}