@import "../../Styles/mixins.scss";

.detailsSection {
  display: flex;
  gap: 80px;
  margin-top: 60px;
}

@include large {
  .detailsSection {
    flex-direction: column;
    align-items: center;
  }
}

@include small {
  .detailsSection {
    gap: 40px;
  }
}


.images {
  display: flex;
  gap: 30px;
}

@media (max-width: 1400px) {
  .images {
    flex-direction: column-reverse;
  }
}

.otherImages {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media (max-width: 1400px) {
  .otherImages {
    max-width: 500px;
    flex-direction: row;
  }
}

@include small {
  .otherImages {
    max-width: 100%;
  }
}

.otherImages>img {
  width: 170px;
  height: 138px;
  border-radius: 4px
}

@media (max-width: 1400px) {
  .otherImages>img {
    aspect-ratio: 1/1;
    width: calc((25% - 14px) + (14px / 4));
    height: auto;
  }
}

.previewImgHolder {
  width: 500px;
  height: 600px;
  border-radius: 4px;
}

@include large {
  .previewImgHolder {
    height: 500px;
  }
}

@media (max-width: 480px) {
  .previewImgHolder {
    height: 410px;
  }
}

@include small {
  .previewImgHolder {
    width: 100%;
  }
}

.previewImgHolder>img {
  background-color: #f5f5f5;
  object-fit: contain;
}






.details {
  flex: 1;
}

@include large {
  .details {
    width: 100%;
  }
}

.productName {
  font: 600 1.5rem/24px "Inter";
  letter-spacing: .03rem;
}

.rateAndReviews {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}

/* [Stars] */
.rateAndReviews>* {
  gap: 6px;
}

.reviews {
  font: 400 .875rem "Poppins";
  color: #7f7f7f;
}

.verticalLine {
  height: 16px;
  border-right: solid 2px #7f7f7f;
}

.greenText {
  font: 400 .875rem "Poppins";
  color: #00FF66;
}

.price {
  display: block;
  font: 400 1.5rem "Inter";
  letter-spacing: .03rem;
  margin-bottom: 20px;
}

.description {
  font: 400 .875rem "Poppins";
  max-width: 400px;
}

@include large {
  .description {
    max-width: 800px;
  }
}





.horizontalLine {
  max-width: 100%;
  min-width: 400px;
  border: solid 1px #7f7f7f;
  margin: 28px 0;
}

@include small {
  .horizontalLine {
    min-width: 100%;
  }
}




.colors {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  gap: 15px;
}

.colors>span {
  display: block;
  font: 400 1.25rem "Inter";
  letter-spacing: .03rem;
  margin-right: 10px;
}

.colors .color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;

  &.active {
    border: solid 3px var(--white);
    outline: solid 2px var(--black);
  }
}




.sizes {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sizes>span {
  display: block;
  font: 400 1.25rem "Inter";
  letter-spacing: .03rem;
  margin-right: 10px;
}

.sizes .sizesWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sizes .sizesWrapper .size {
  font: 500 .875rem "Poppins";
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #00000080;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  @include center-x-y;

  &.active {
    border-color: var(--tomato);
    background-color: var(--tomato);
    color: var(--white);
  }
}





.dealing {
  display: flex;
  gap: 20px;
  margin: 18px 0 34px;
}

.customNumberInput {
  display: flex;
  align-items: center;
  color: #000;
  height: 44px;
  border-radius: 4px;
}

.customNumberInput>button {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 100%;
  font: 200 2rem "Poppins";

  &:hover {
    background-color: var(--tomato);
    border-color: var(--tomato) !important;
    color: var(--white);
  }
}

.customNumberInput>button:first-child {
  border: solid 1px #00000080;
  border-radius: 4px 0 0 4px;
}

.customNumberInput>button:last-child {
  border: solid 1px #00000080;
  border-radius: 0 4px 4px 0;
}

.customNumberInput>input {
  display: block;
  outline: none;
  border: none;
  width: 80px;
  height: 100%;
  text-align: center;
  font: 500 1.25rem "Poppins";
  border-top: solid 1px #00000080;
  border-bottom: solid 1px #00000080;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }
}

.dealing>button {
  outline: none;
  border: none;
  width: 165px;
  height: 44px;
  border-radius: 4px;
  background-color: var(--tomato);
  color: var(--white);
  font: 500 1rem "Poppins";
}

.addToFav {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #00000080;
  @include center-x-y;
  cursor: pointer;
}

.addToFav>svg {
  width: 20px;
  height: 20px;
}





.features {
  border: 1px solid #00000080;
  border-radius: 4px;
  padding: 25px 0;
  max-width: 450px;
}

.features .feature {
  display: flex;
  align-items: center;
  padding: 0 20px;

  &:not(:last-child) {
    border-bottom: 1px solid #00000080;
    padding-bottom: 20px;
  }

  &:last-child {
    padding-top: 20px;
  }
}

.features .feature>svg {
  width: 40px;
  height: 40px;
}

.features .feature .content {
  margin-left: 20px;
}

.features .feature .content>b {
  font: 500 1rem "Poppins";
}

.features .feature .content>p {
  font: 500 .75rem "Poppins";
  margin-top: 6px;
}