@import "src/Styles/mixins";

.featuredSection {
  margin-bottom: 170px;
}

@include small {
  .featuredSection {
    margin-bottom: 100px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  margin-bottom: 40px;
}

@include small {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

.viewAllBtn {
  border: none;
  outline: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  background: var(--dark-red);
  color: var(--white);
  padding: 12px 48px;
  border-radius: 4px;
  letter-spacing: 0em;
  font-weight: 500;
  text-wrap: nowrap;
}