@import "../../../Styles/mixins.scss";

.posters {
  margin: 50px 0 100px;
  display: flex;
  width: 100%;
}

@media (max-width: 1300px) {
  .posters {
    display: block;
  }
}

.posters>* {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.smallPosters {
  margin-left: 30px;
}

@media (max-width: 1300px) {
  .smallPosters {
    margin: 0;
    margin-top: 30px;
  }
}

.smallerPosters {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;

  &>*:not(:last-child) {
    margin-right: 30px;
  }
}

@include small {
  .smallerPosters {
    flex-direction: column;

    &>*:not(:last-child) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}