@import "../../../Styles/mixins.scss";

.detailsSection {
  display: flex;
  gap: 80px;
  margin: var(--page-margin);
  height: 750px;
  width: 100%;
}

@include large {
  .detailsSection {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
}

@include small {
  .detailsSection {
    gap: 40px;
  }
}

.details {
  flex: 1;
  position: relative;
}

@include large {
  .details {
    width: 100%;
  }
}

.zoomInPreview {
  width: 100%;
  height: 540px;
  height: 540px;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
  border: solid 1px var(--black);
  background-color: var(--very-light-gray2);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

@include large {
  .zoomInPreview {
    top: -725px;
    left: 50%;
    pointer-events: none !important;
    width: 500px;
    height: 500px;
    min-height: 500px;
    translate: -50%;
  }
}

@include small {
  .zoomInPreview {
    display: none;
  }
}

.zoomInPreview>img {
  width: 200%;
  height: 200%;
  position: absolute;
  left: 50%;
  top: 50%;
  pointer-events: none;
  object-fit: contain;
}

.horizontalLine {
  min-width: 400px;
  max-width: 500px;
  border: solid 1px var(--dark-gray);
  margin: 28px 0;
}

@include large {
  .horizontalLine {
    max-width: 100%;
    min-width: auto;
  }
}