@import "../../../Styles/mixins.scss";

.detailsSection {
  display: flex;
  gap: 80px;
  margin: var(--page-margin);
}

@include large {
  .detailsSection {
    flex-direction: column;
    align-items: center;
  }
}

@include small {
  .detailsSection {
    gap: 40px;
  }
}

.details {
  flex: 1;
}

@include large {
  .details {
    width: 100%;
  }
}

.horizontalLine {
  min-width: 400px;
  max-width: 500px;
  border: solid 1px var(--dark-gray);
  margin: 28px 0;
}

@include large {
  .horizontalLine {
    max-width: 100%;
  }
}