@import "src/Styles/mixins";

.dealing {
  display: flex;
  gap: 20px;
  margin: 18px 0 54px;
}

@media (max-width: 480px) {
  .dealing {
    flex-direction: column;
  }
}

.customNumberInput {
  display: flex;
  align-items: center;
  color: var(--black);
  height: 44px;
  border-radius: 4px;
}

.customNumberInput>button {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 100%;
  font-weight: 200;
  font-size: 2rem;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-tomato);
    border-color: var(--dark-tomato) !important;
    color: var(--white);
  }
}

.customNumberInput>button:first-child {
  border: solid 1px #00000080;
  border-radius: 4px 0 0 4px;
}

.customNumberInput>button:last-child {
  border: solid 1px #00000080;
  border-radius: 0 4px 4px 0;
}

.customNumberInput>button>label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  cursor: inherit;
}

.customNumberInput>input {
  display: block;
  outline: none;
  border: none;
  width: 80px;
  height: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  border-top: solid 1px #00000080;
  border-bottom: solid 1px #00000080;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buyButton {
  outline: none;
  border: none;
  width: 165px;
  height: 44px;
  border-radius: 4px;
  background-color: var(--dark-tomato);
  border: solid 2px var(--dark-tomato);
  color: var(--white);
  font-weight: 500;
  transition: background-color .1s, color .1s;

  &:hover {
    background-color: var(--white);
    color: var(--dark-tomato);
  }
}

.addToFav {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #00000080;
  @include center-x-y;
  cursor: pointer;
  position: relative;

  &:hover {
    border-color: var(--tomato);
  }

  &.active>svg {
    fill: var(--tomato);
  }
}

.addToFav .heartBackground {
  --heart-color: var(--tomato);

  position: absolute;
  top: calc(50% + 8px);
  left: 50%;
  translate: -50% -50%;
  border-style: solid;
  border-color: var(--heart-color) transparent transparent transparent;
  border-width: 10px;
  opacity: 0;
}

.addToFav.active .heartBackground {
  opacity: 1;
}

.addToFav .heartBackground::before,
.addToFav .heartBackground::after {
  content: '';
  position: absolute;
  top: -15px;
  background-color: var(--heart-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.addToFav .heartBackground::before {
  left: -9px;
}

.addToFav .heartBackground::after {
  right: -9px;
}

.addToFav>svg {
  width: 20px;
  height: 20px;
}