@import "../../../Styles/mixins.scss";

.userMenu {
  position: absolute;
  left: -191px;
  min-width: 224px;
  border-radius: 4px;
  z-index: 20;
  background: rgba(0, 0, 0, .34);
  box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
  backdrop-filter: blur(45.4px);
  opacity: 0;
  pointer-events: none;
  top: 30px;
  transition: opacity .3s ease-in-out, top .2s;

  &.active {
    opacity: 1;
    pointer-events: all;
    top: 36px;
  }
}

.userMenu>button {
  all: unset;
  display: flex;
  align-items: center;
  padding: 12px;
  width: 100%;
}

.userMenu :where(a, button) {
  display: flex;
  align-items: center;
  padding: 12px;

  &:hover {
    background-color: var(--white);
  }
}

.userMenu>:where(a, button)>svg {
  fill: var(--white);
  width: 20px;
  height: 20px;
}

.userMenu>:where(a, button):hover svg {
  fill: var(--black);

  & path {
    stroke: var(--black);
  }

  & circle {
    stroke: var(--black);
  }
}

.userMenu>:where(a, button)>span {
  color: var(--white);
  font-size: .85rem;
  margin-left: 8px;
}

.userMenu>:where(a, button):hover span {
  color: var(--black);
}