@use "src/Styles/mixins" as m;

.dealing {
  display: flex;
  gap: 20px;
  margin: 18px 0 54px;
}

@media (max-width: 480px) {
  .dealing {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}