@import "../../Styles/mixins.scss";

.form {
  max-width: 371px;
  width: 371px;
  margin: 0 120px;
}

@include medium {
  .form {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .form {
    max-width: none;
  }
}

.form>h2 {
  font: 500 2.25rem/30px "Inter", sans-serif;
  letter-spacing: .04rem;
  width: max-content;
}

@include small {
  .form>h2 {
    font-size: 1.8rem;
  }
}

.form>p {
  margin: 20px 0 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs>input {
  border: none;
  outline: none;
  border-bottom: solid 1px var(--dark-gray);
  padding-bottom: 8px;
  color: var(--black);
  transition: border-color .1s;

  &:focus {
    border-block-color: var(--black);
  }

  &::placeholder {
    transition: color .1s;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &[class=invalid] {
    border-bottom-color: var(--dark-tomato);

    &::placeholder {
      color: var(--dark-tomato);
    }
  }

  &:not(:placeholder-shown) {
    border-bottom-color: var(--dark-gray);
  }

  &:focus::placeholder {
    color: var(--black) !important;
  }
}

.inputs>input::placeholder {
  color: var(--regular-light-gray);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 20px;
}

.loginBtn {
  width: 143px;
  padding: 16px;
  border-radius: 4px;
  background-color: var(--dark-tomato);
  border: solid 2px var(--dark-tomato);
  transition: background-color .1s, color .1s;
  color: var(--white);
  font-weight: 500;

  &:hover {
    background-color: var(--white);
    color: var(--dark-tomato);
  }
}

.buttons>a {
  color: var(--dark-tomato);
  transition: color .2s;

  &:hover {
    color: var(--tomato);
  }
}