.products {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.wrapper>img {
  width: 54px;
  height: 54px;
  user-select: none;
  object-fit: contain;
}