@import "../../../Styles/mixins.scss";

.paymentSection {
  max-width: 483px;
  flex: 1;
}

@include medium {
  .paymentSection {
    max-width: 80vw;
    width: 80vw;
  }
}

@include small {
  .paymentSection {
    max-width: 100%;
    width: 100%;
  }
}

.submitPaymentButton {
  border: none;
  outline: none;
  background-color: var(--dark-tomato);
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  padding: 16px 48px;
  border-radius: 4px;
  margin-top: 34px;
}

@include small {
  .submitPaymentButton {
    font-size: .8rem;
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
  }
}