@import "../../../Sass/mixins";

.eventTimer {
  margin: 50px;
  display: flex;
  align-items: end;
  gap: 16px;
}

.timeContainer {
  display: flex;
  flex-direction: column;
}

.timeContainer .typeTime {
  color: var(--black);
  font-family: "Poppins";
  font-size: .75rem;
  font-weight: 500;
  transform: scale(.9);
}

.timeContainer .time {
  color: var(--black);
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.3px;
}

.eventTimer>span {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--tomato);
}

