@import "../../Styles/mixins.scss";

.productsPage {
  margin: var(--page-margin);
}

.products {
  margin: var(--page-margin);
}

.SkeletonCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1300px) {
  .SkeletonCards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include medium {
  .SkeletonCards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .SkeletonCards {
    grid-template-columns: 1fr;
  }
}