@import "../../Styles/mixins.scss";

.accountPage {
  margin: 60px 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcomeMessage {
  font-weight: 400;
  font-size: .875rem;
}

.welcomeMessage>a {
  color: var(--dark-tomato);
  position: relative;

  &:hover {
    color: var(--tomato);
  }
}

.welcomeMessage>a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: var(--tomato);
  transition: width .3s;
}

.welcomeMessage>a:hover::before {
  width: 100%;
}

.accountPageContent {
  display: flex;
  justify-content: space-between;
  margin: var(--page-margin);
  gap: 30px;
}

@include large {
  .accountPageContent {
    gap: 0;
  }
}