@import "../../Styles/mixins.scss";

.accountPage {
  margin: 60px 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcomeMessage {
  font-weight: 400;
  font-size: .875rem;
}

.welcomeMessage>a {
  color: var(--dark-tomato);
}

.accountPageContent {
  display: flex;
  justify-content: space-between;
  margin: var(--page-margin);
  gap: 30px;
}

@include large {
  .accountPageContent {
    gap: 0;
  }
}