@import "src/Styles/mixins";

.form {
  max-width: 371px;
  width: 371px;
  margin: 0 120px;
}

@include medium {
  .form {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .form {
    max-width: none;
  }
}

.form>h2 {
  font: 500 2.25rem/38px "Inter", sans-serif;
  letter-spacing: .04rem;
  width: 331px;
}

@include small {
  .form>h2 {
    font-size: 1.8rem;
  }
}

.form>p {
  margin: 20px 0 30px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 20px;
}

.loginBtn {
  width: 143px;
  padding: 16px;
  border-radius: 4px;
  background-color: var(--dark-tomato);
  border: solid 2px var(--dark-tomato);
  transition: background-color .1s, color .1s;
  color: var(--white);
  font-weight: 500;

  &:hover {
    background-color: var(--white);
    color: var(--dark-tomato);
  }

  &:focus-visible {
    background-color: #db444407;
    border-color: var(--tomato);
    color: var(--tomato);
  }
}

.buttons>a {
  outline: none;
  color: var(--dark-tomato);
  transition: color .2s;

  &:hover,
  &:focus-visible {
    color: var(--tomato);
  }
}

// Hungarian styles
[lang=hu] .form>h2 {
  font-size: 2rem;
}

@include small {
  [lang=hu] .form>h2 {
    font-size: 1.4rem;
  }
}

// Japanese styles
@include small {
  .form>h2 {
    font-size: 1.6rem;
  }
}