@import "../../Styles/mixins.scss";

.notFoundPage {
  margin-top: 60px;
}

.wrapper {
  width: fit-content;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper>b {
  font: 500 6.875rem "Inter", sans-serif;
  letter-spacing: .03rem;
}

@include medium {
  .wrapper>b {
    font-size: 5rem;
  }
}

@include small {
  .wrapper>b {
    font-size: 4rem;
  }
}

@media (max-width: 640px) {
  .wrapper>b {
    font-size: 2.5rem;
  }
}

.wrapper>p {
  margin: 20px 0 70px 0;
  line-height: 24px;
}

@include small {
  .wrapper>p {
    margin: 20px 0 40px 0;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .wrapper>p {
    font-size: .9rem;
  }
}

.wrapper>a {
  display: block;
  width: fit-content;
  background: var(--dark-red);
  color: var(--white);
  padding: 12px 48px;
  margin: 0 auto;
  border-radius: 4px;
  font-weight: 500;
  transition: background .2s;

  &:hover {
    background: var(--tomato);
  }
}